<% if (Array.isArray(scorecards) && scorecards.length > 0) { %>
    <% scorecards.forEach((scorecard) => { %>
        <div class="scorecard">
            <% scorecard %>
            <h1><%= scorecard.matchNumber %></h1>
            <table>
                <thead>
                    <tr>
                        <th>Batsman</th>
                        <th>Runs</th>
                        <th>Balls</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (Array.isArray(scorecard?.scores) && scorecard?.scores?.length > 0) { %>
                        <% scorecard.scores.forEach((score) => { %>
                            <tr>
                                <td><%= score.batsmanName %></td>
                                <td><%= score.runs %></td>
                                <td><%= score.balls %></td>
                                <td><%= score.fours %></td>
                                <td><%= score.sixes %></td>
                                <td><%= score.strikeRate %></td>


                            </tr>
                        <% }) %>
                    <% } else { %>
                        <tr><td colspan="3">No scores available</td></tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    <% }) %>
<% } else { %>
    <p>No data available</p>
<% } %>
